# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio
.vs/
*.sln.ide/
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.assets.json
project.lock.json

# Fody
FodyWeavers.xsd

# OS files
.DS_Store
Thumbs.db
Desktop.ini
